<launch>
    <arg name="MOTOR_NUM" doc="MOTOR_NUM"/>
    <arg name="GEAR_RATIO" doc="GEAR_RATIO"/>
    <arg name="MOTOR_TICK" doc="MOTOR_TICK"/>
    <arg name="SCREW_LEAD" doc="SCREW_LEAD"/>
    <arg name="TIMEOUT_SEC_MAIN" doc="TIMEOUT_SEC_MAIN"/>
    <arg name="TIMEOUT_SEC_IO" doc="TIMEOUT_SEC_IO"/>
    <arg name="TIMEOUT_SEC_HOMING" doc="TIMEOUT_SEC_HOMING"/>
    <arg name="message_display" default="screen" doc="output type"/>
    <arg name="main_hz" default="1000" doc="main loop herz"/>
    <arg name="communication" default="rs485" doc="communication"/>
    <arg name="serial_port" default="/dev/ttyUSB0" doc="serial_port"/>
    <arg name="baudrate" default="19200" doc="baudrate"/>
    <arg name="inv_motor_in_arr" default="[1.0, 1.0, 1.0, 1.0]" doc="inv_motor_in_arr"/>
    <arg name="inv_encoder_out_arr" default="[1.0, 1.0, 1.0, 1.0]" doc="inv_encoder_out_arr"/>
    
    <node pkg="outtrigger" type="outtrigger" name="outtrigger" output="$(arg message_display)">
        <param name = "serial_port"      value = "$(arg serial_port)"/>
        <param name = "baudrate"         value = "$(arg baudrate)"/>
        <param name = "PC"               value = "172"/>
        <param name = "MDUI"             value = "184"/>
        <param name = "MDT"              value = "183"/>
        <param name = "RMID"             value = "183"/>
        <param name = "slowstart"        value = "300"/>
        <param name = "slowdown"         value = "300"/>

        <param name="MOTOR_NUM" value="$(arg MOTOR_NUM)"/>
        <param name="GEAR_RATIO" value="$(arg GEAR_RATIO)"/>
        <param name="MOTOR_TICK" value="$(arg MOTOR_TICK)"/>
        <param name="SCREW_LEAD" value="$(arg SCREW_LEAD)"/>
        <param name="TIMEOUT_SEC_MAIN" value="$(arg TIMEOUT_SEC_MAIN)"/>
        <param name="TIMEOUT_SEC_IO" value="$(arg TIMEOUT_SEC_IO)"/>
        <param name="TIMEOUT_SEC_HOMING" value="$(arg TIMEOUT_SEC_HOMING)"/>
        <param name="main_hz" value="$(arg main_hz)"/>
        <param name="communication" value="$(arg communication)"/>
        <rosparam param="inv_motor_in_arr" subst_value="true">$(arg inv_motor_in_arr)</rosparam>
        <rosparam param="inv_encoder_out_arr" subst_value="true">$(arg inv_encoder_out_arr)</rosparam>
    </node>
</launch>
