<launch>
    <arg name="MOTOR_NUM" value="4"/>
    <arg name="message_display" default="screen" doc="output type"/>
    <arg name="main_hz" default="1000" doc="main loop herz"/>
    <arg name="communication" default="rs485" doc="communication"/>
    <arg name="serial_port" default="/dev/recipe.driver.outtrigger" doc="serial_port"/>
    <arg name="baudrate" default="115200" doc="baudrate"/>
    <arg name="inv_motor_in_arr" default="[1.0, 1.0, 1.0, 1.0]" doc="inv_motor_in_arr"/>
    <arg name="inv_encoder_out_arr" default="[1.0, 1.0, 1.0, 1.0]" doc="inv_encoder_out_arr"/>
    <arg name="override_homing" default="0" doc="override_homing"/>
    <arg name="motor_info_hz" default="1000" doc="motor_info_hz"/>
    
    <include file="$(find outtrigger)/launch/base.launch">
        <arg name="MOTOR_NUM" value="$(arg MOTOR_NUM)"/>
        <arg name="GEAR_RATIO" value="10.0"/>
        <arg name="MOTOR_TICK" value="65535.0"/>
        <arg name="SCREW_LEAD" value="5.0"/>
        <arg name="TIMEOUT_SEC_MAIN" value="3.0"/>
        <arg name="TIMEOUT_SEC_HOMING" value="3.0"/>
        <arg name="MIN_MM" value="0.0"/>
        <arg name="MAX_MM" value="300.0"/>
        <arg name="MIN_MM_PER_SEC" value="1.0"/>
        <arg name="MAX_MM_PER_SEC" value="20.0"/>
        <arg name="message_display" value="$(arg message_display)"/>
        <arg name="main_hz" value="$(arg main_hz)"/>
        <arg name="communication" value="$(arg communication)"/>
        <arg name="serial_port" value="$(arg serial_port)"/>
        <arg name="baudrate" value="$(arg baudrate)"/>
        <arg name="inv_motor_in_arr" value="$(arg inv_motor_in_arr)"/>
        <arg name="inv_encoder_out_arr" value="$(arg inv_encoder_out_arr)"/>
        <arg name="override_homing" value="$(arg override_homing)"/>
        <arg name="motor_info_hz" value="$(arg motor_info_hz)"/>
    </include>
</launch>
